
@{
    ViewBag.Title = "Errorpage";
    Layout = "~/Views/Shared/_CBLayout.cshtml";
}


<div class="card-body">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 p-3">
            <div class="shadow card">
                <div class="card-image-wrapper">
                    <img src="~/Images/error.png" style="width: 123px;  height: 100px; margin-left: 31%;" />
                </div>
                <div class="card-footer">
                    <b style="color: #1d4771;font-size: 17px;">Oops..!Seems like user don't have the privilege for the page. Kindly reach out to User Management Team.</b>
                </div>
            </div>
        </div>
    </div>
</div>
